{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='col-sm-8 col-sm-offset-3'>
<h1>post create/edit form template -</h1>
    <form method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> <b>Edit This Post - </b></legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}